<!DOCTYPE html>
<html>
  <head>
    <title>Chatbotce4patos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1>hola perros</h1>
    # <%= yield %>

    # <!-- app/views/questions/index.html.erb -->
    <%= render 'questions/pregunta' %>

  </body>
</html>
